@value left-checkbox-margin: 5px;


.toolbar {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.downloadBtn {
  margin-left: 10px;
}

.allSelector {
  margin-left: left-checkbox-margin;
  margin-right: 10px;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.table th {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  font-weight: initial;
}

.row[aria-selected="true"] {
  background-color: bisque;
}

.row:hover {
  background-color: beige;
}

.table th,
td {
  padding: 10px 0 10px left-checkbox-margin;
}

.status {
  text-transform: capitalize;
}


